/*
Define here your variables for your stylesheet
*/


//Change bootstrap defaults
/*Background*/
$navbar-default-bg: #eee;

/*Body*/
/* $body-bg: red;
$text-color: white;
$link-color: blue;
$link-hover-color: green;
$navbar-default-toggle-icon-bar-bg: yellow; //icon-bar-color */
