.alert.alert-success(role='alert')
  strong Well done!
    |  You successfully read this important alert message.

.alert.alert-info(role='alert')
  strong Well done!
    |  You successfully read this important alert message.

.alert.alert-warning(role='alert')
  strong Well done!
    |  You successfully read this important alert message.

.alert.alert-danger(role='alert')
  strong Well done!
    |  You successfully read this important alert message.
