p
  a(href) Inbox 
    span.badge 42
    
ul.nav.nav-pills
 li(role='presentation').active
  a(href) Home
   span.badge 42
 li(role='presentation')
  a(href) Profile
   span.badge 2
 li(role='presentation')
  a(href) Message
   span.badge 4