p
 button.btn.btn-lg.btn-default  Default
 button.btn.btn-lg.btn-primary  Primary
 button.btn.btn-lg.btn-success  Success
 button.btn.btn-lg.btn-info     Info
 button.btn.btn-lg.btn-warning  Warning
 button.btn.btn-lg.btn-danger   Danger
 button.btn.btn-lg.btn-danger   Link
p
 button.btn.btn-default  Default
 button.btn.btn-primary  Primary
 button.btn.btn-success  Success
 button.btn.btn-info     Info
 button.btn.btn-warning  Warning
 button.btn.btn-danger   Danger
 button.btn.btn-danger   Link
p
 button.btn.btn-sm.btn-default  Default
 button.btn.btn-sm.btn-primary  Primary
 button.btn.btn-sm.btn-success  Success
 button.btn.btn-sm.btn-info     Info
 button.btn.btn-sm.btn-warning  Warning
 button.btn.btn-sm.btn-danger   Danger
 button.btn.btn-sm.btn-danger   Link