.dropdown.theme-dropdown.clearfix
 a#dropdownMenu1.sr-only.dropdown-toggle(href="#",data-toggle="dropdown", role="button", aria-expanded="false")
   ul.dropdown-menu(role="menu",aria-labelledby="dropdownMenu1")
     li.active(role="presentation")
      a(role="menuitem",tabindex="-1") Action
     li(role="presentation")
      a(role="menuitem",tabindex="-1") Another action
     li(role="presentation")
      a(role="menuitem",tabindex="-1") Something else here
     li(role="presentation").divider
     li(role="presentation")
      a(role="menuitem",tabindex="-1") Separated link
