ul.nav.nav-tabs(role='tablist')
    li(role='presentation')
      a(href='#') Home
    li.active(role='presentation')
      a(href='#') Profile
    li(role='presentation')
      a(href='#') Messages
br
br
ul.nav.nav-pills(role='tablist')
    li(role='presentation')
      a(href='#') Home
    li.active(role='presentation')
      a(href='#') Profile
    li(role='presentation')
      a(href='#') Messages 