table.table.table-condensed
         thead
          th #
          th First name
          th Last name
          th Username
         tbody
          tr
           td 1
           td Mark
           td Otto
           td @mdo
          tr
           td 2
           td John
           td Doe
           td @mdo
         tr
           td 3
           td Jane
           td Doe
           td @mdo