table.table.table-striped
 thead
  th #
  th First name
  th Last name
  th Username
 tbody
  tr
   each val in [1, 2, 3, 4]
    th= val
  tr
   td 2
   td John
   td Doe
   td @mdo
  tr
   td 3
   td Jane
   td Doe
   td @mdo