table.table.table-bordered
         thead
          th #
          th First name
          th Last name
          th Username
         tbody
          tr
           td(rowspan="2") 1
           td Mark
           td Otto
           td @mdo
          tr
           td Mark
           td Otto
           td @mdo2
          tr
           td 2
           td John
           td Doe
           td @mdo
         tr
           td 3
           td Jane
           td Doe
           td @mdo