img(data-src='holder.js/200x200/text:.img-thumbnail').img-thumbnail
img(data-src='holder.js/200x200/text:.img-circle').img-thumbnail.img-circle
img(data-src='holder.js/200x200/text:.img-rounded').img-thumbnail.img-rounded
img(data-src='holder.js/200x200/text:.img-responsive').img-thumbnail.img-responsive 